NODE_ENV=development
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=

DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=task_management

JWT_SECRET=

GEMINI_API_KEY=
